<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hash SHA1 (Redecard.PN.Comum)</h4>              
                <input type="text" ng-change="fn.hashSHA1();" ng-model="sha.valor" placeholder="Informe o valor" class="form-control mt-2" />
                <input type="text" ng-model="sha.hash" class="form-control text-center mt-2" readonly />
            </div>
        </div>
    </div>     
    <div class="col-md-12 mt-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hash MD5</h4>              
                <input type="text" ng-change="fn.hashMD5();" ng-model="md5.valor" placeholder="Informe o valor" class="form-control mt-2" />
                <input type="text" ng-model="md5.hash" class="form-control text-center mt-2" readonly />
            </div>
        </div>
    </div>      
</div>